* {
  font-family: 'Yolk';
}

/* BOTTOM STATS & ITEMS */
/* GOLD */
.right__kda p:has(+ p),
.left__kda p:has(+ p) {
  color: gold !important;
  font-size: 1rem !important;
}

/* KDA */
.left__kda p:last-of-type,
.right__kda p:last-of-type {
  margin-top: 0.25rem;
  color: white;
  font-size: 1.3rem !important;
}

.right__items {
  left: 200px !important;
}

.left__items {
  right: 200px !important;
}

.left__items>div,
.right__items>div {
  width: 35px !important;
  height: 35px !important;
  border: 1px solid #B9861B !important;
}

.cooldown {
  background-color: rgb(0 0 0 / 46%) !important;
}

/* LANE GOLD DIFF */
#app>div>div.flex>div>div>div.flex>p {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

#app>div>div.flex.flex-col.absolute.bottom-0.left-0.right-0.transition-transform.duration-500 {
  border: 2px solid #B9861B !important;
  border-bottom: none !important;
}


/* TOP ROW */
.team-scores-container:nth-child(1),
.team-scores-container:nth-child(2),
.center-logo,
.flex:has(.team-icon-container) {
  background: black !important;
  height: 8rem !important;
  justify-content: center !important;
  align-items: center !important;
}

/* LEFT */
.team-scores-container:nth-child(1),
.team-scores-container:nth-child(2),
.flex:has(.team-icon-container) {
  height: 6rem !important;
  color: #B9861B !important;
}

#top-row>div.team-container.red-team>div.flex.relative.text-white>div,
#top-row>div.team-container.blue-team>div.flex.relative.text-white>div {
  background: #000 !important;
}

.center-logo {
  margin-top: 4rem !important;
}

.scoreboard-top-row {
  width: 100% !important;
}

.scoreboard-top-row .kills p {
  font-size: 4.5rem !important;
}

.scoreboard-top-row .towers,
.scoreboard-top-row .kills,
.scoreboard-top-row .gold-section {
  height: 90px !important;
}

.scoreboard-top-row .towers {}

.scoreboard-top-row .gold-section {}

img.object-contain[src*="gold.png"] {
  height: 24px !important;
  width: 24px !important;
  max-height: 24px !important;
}

#top-row>div.team-container.blue-team>div.team-scores-container.px-4.h-full.w-full.bg-main.h-full.text-left>div.score-item.gold-section>div>div:nth-child(1),
#top-row>div.team-container.red-team>div.team-scores-container.px-4.h-full.w-full.bg-main.h-full.text-right>div.score-item.gold-section>div>div:nth-child(1) {
  width: 24px !important;
  padding-top: 8px !important;
}

.red-team,
.blue-team {
  width: 800px !important;
}

/* LOGOS */
.center-logo,
img[src*="mainIcon.png"] {
  background: #000 !important;
}

.team-icon-container {
  padding: 0 !important;
  width: 8rem !important;
}


/* OBJECTIVES SECTIONS */
/* Height */
#bot-row {
  height: 2.5rem !important;
  margin-top: 2rem !important;
}

.gold-advantage {
  bottom: .75rem !important;
  font-size: 1rem !important;
}

/* Time */
#bot-row>div.absolute-center.bg-bot.text-white.text-center.w-20 {
  margin-top: 2rem !important;
  background: rgba(0, 0, 0, 0.8) !important;
  /* border-radius: 0 0 .75rem .75rem */
}

/* Center Objectives */
.center-container>div>div {
  align-items: center;
}

/* GRUBS */
/* Count */
.center-container>div>div>p {
  font-size: 1.3rem;
}

/* Image */
.center-container>div>div>img[src*='grubs.png'] {
  width: 20px;
  height: 20px;
}

/* FEATS */
/* left */
.center-container>div>div.flex.items-center.gap-3.flex-row-reverse.bg-bot.pl-2.pr-2 {
  background: black !important;
  padding-right: 1rem !important;
}

/* right */
.center-container>div>div.flex.items-center.gap-3.flex-row.bg-bot.pl-2.pr-2 {
  background: black !important;
  padding-left: 1rem !important;
  margin-right: -1px !important;
}

/* TIMER */
.center-container>div:nth-child(2) {
  background: black !important;
  width: 6rem !important;
}

/* DRAKES */
/* background */
.center-container>div>div.flex.flex-row.text-white:first-child {
  width: 200px;
  background: linear-gradient(70deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 0%) 8%, rgba(0, 0, 0, 1) 18%, rgba(0, 0, 0, 1) 100%) !important;
}

.center-container>div>div.flex.flex-row.text-white:last-child {
  width: 200px;
  background: linear-gradient(290deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 0%) 8%, rgba(0, 0, 0, 1) 18%, rgba(0, 0, 0, 1) 100%) !important;
}

/* ELDER & BARON POWER PLAYS */
#top-row>div.team-container.blue-team>div.relative.overflow-hidden,
#top-row>div.team-container.red-team>div.relative.overflow-hidden {
  background: black !important;
  /* width: 120px !important; */
}

#top-row>div.team-container.red-team>div.relative.overflow-hidden>div>img {
  width: 40px;
}

/* OBJECTIVES SECTIONS */

/* CHAMPIONS */

div.champion.relative>div>div>p {
  transform: none !important;
}

/* Champion Text*/
.champion-grid>p {
  margin: 0 .25rem;
}

/* LEFT */
.champion-grid:not(.mirror) {
  padding-bottom: 5.1rem !important;
  border-radius: 0 !important
}

/* RIGHT */
.champion-grid.mirror {
  padding-bottom: 5.1rem !important;
  border-radius: 0 !important
}

.champion-grid.mirror .champion>div {
  margin-left: -10px !important;

}

.champion-grid:not(.mirror) .champion>div {
  margin-right: -10px !important;
}

.champion-grid .champion>div {
  border-radius: 16px !important;
  width: 20px !important;
  height: 20px !important;
  margin-top: -3px !important;
}

.champion-grid .champion>div>div>img {
  border-radius: 16px;
  width: 20px !important;
  height: 20px !important;
}

.champion-grid .champion .timer-fill {
  border-radius: 16px;
}

.champion-grid {
  width: 6.5rem !important;
  height: 6.5rem !important;
}


/* INHIBITORS */

/* Blue Inhib */
#inhibitors>div>div>div.w-auto.h-auto.flex.flex-col.items-center.justify-center {
  margin: 0 .5rem !important;
}

#inhibitors>div>div {
  padding-right: 12px !important;
  width: 400px !important;
}

#inhibitors>div>div>div.flex.flex-col.flex-1.h-auto.justify-between>div>p {
  margin-left: 4px !important;
  line-height: 1.75rem !important;
}


/* BARON  & DRAKES */
#app>div>div.absolute.top-0.left-0.flex.flex-row>div div,
#app>div>div.flex.gap-0.flex-row-reverse.absolute.top-0.right-0>div {
  background: rgba(0, 0, 0, .95) !important;
}

#app>div>div.absolute.top-0.left-0.flex.flex-row>div img,
#app>div>div.flex.gap-0.flex-row-reverse.absolute.top-0.right-0>div img {
  background: rgba(0, 0, 0, 0) !important;
}

/* 2560 x 1440 FIXES FOR THE MISSALIGNED LOGO*/
/*
.red-team {
  margin-left: -1px !important;
}

.blue-team {
  margin-right: -1px !important;
}

.center-container>div>div.flex.items-center.gap-3.flex-row.bg-bot.pl-2.pr-2 {
  margin-left: -1px !important;
}

.center-container>div>div.flex.items-center.gap-3.flex-row-reverse.bg-bot.pl-2.pr-2 {
  margin-right: -1px !important;
}

.center-container>div>div.flex.flex-row.text-white:last-child {
  margin-right: 1px !important;
}

.center-container>div>div.flex.flex-row.text-white:first-child {
  margin-left: 1px !important;
} 
*/